net "DATA_OUT[9]" LOC =P73  | IOSTANDARD = LVCMOS33;
net "DATA_OUT[8]" LOC =P72  | IOSTANDARD = LVCMOS33;
net "DATA_OUT[7]" LOC =P71  | IOSTANDARD = LVCMOS33;
net "DATA_OUT[6]" LOC =P70  | IOSTANDARD = LVCMOS33;
net "DATA_OUT[5]" LOC =P65  | IOSTANDARD = LVCMOS33;
net "DATA_OUT[4]" LOC =P64  | IOSTANDARD = LVCMOS33;
net "DATA_OUT[3]" LOC =P62  | IOSTANDARD = LVCMOS33;
net "DATA_OUT[2]" LOC =P61  | IOSTANDARD = LVCMOS33;
net "DATA_OUT[1]" LOC =P60  | IOSTANDARD = LVCMOS33;
net "DATA_OUT[0]" LOC =P59  | IOSTANDARD = LVCMOS33;

net "CLK_IN"  LOC =P90  | IOSTANDARD = LVCMOS33;

net "DAC_CLK" LOC =P78  | IOSTANDARD = LVCMOS33;


net "SW[15]" LOC =P50  | IOSTANDARD = LVCMOS33;
net "SW[14]" LOC =P49  | IOSTANDARD = LVCMOS33;
net "SW[13]" LOC =P48  | IOSTANDARD = LVCMOS33;
net "SW[12]" LOC =P46  | IOSTANDARD = LVCMOS33;
net "SW[11]" LOC =P44  | IOSTANDARD = LVCMOS33;
net "SW[10]" LOC =P43  | IOSTANDARD = LVCMOS33;
net "SW[9]" LOC =P40  | IOSTANDARD = LVCMOS33;
net "SW[8]" LOC =P41  | IOSTANDARD = LVCMOS33;
net "SW[7]" LOC =P37  | IOSTANDARD = LVCMOS33;
net "SW[6]" LOC =P36  | IOSTANDARD = LVCMOS33;
net "SW[5]" LOC =P35  | IOSTANDARD = LVCMOS33;
net "SW[4]" LOC =P34  | IOSTANDARD = LVCMOS33;
net "SW[3]" LOC =P33  | IOSTANDARD = LVCMOS33;
net "SW[2]" LOC =P32  | IOSTANDARD = LVCMOS33;
net "SW[1]" LOC =P31  | IOSTANDARD = LVCMOS33;
net "SW[0]" LOC =P30  | IOSTANDARD = LVCMOS33;

net "BUT" LOC =P29  | IOSTANDARD = LVCMOS33;

config vccaux=3.3;
net "DAC_CLK" period = 4.76ns HIGH 50%;
net "CLK_IN" period = 25ns HIGH 50%;