net DATA_OUT[9] LOC =P73  | IOSTANDARD = LVCMOS33;
net DATA_OUT[8] LOC =P72  | IOSTANDARD = LVCMOS33;
net DATA_OUT[7] LOC =P71  | IOSTANDARD = LVCMOS33;
net DATA_OUT[6] LOC =P70  | IOSTANDARD = LVCMOS33;
net DATA_OUT[5] LOC =P65  | IOSTANDARD = LVCMOS33;
net DATA_OUT[4] LOC =P64  | IOSTANDARD = LVCMOS33;
net DATA_OUT[3] LOC =P62  | IOSTANDARD = LVCMOS33;
net DATA_OUT[2] LOC =P61  | IOSTANDARD = LVCMOS33;
net DATA_OUT[1] LOC =P60  | IOSTANDARD = LVCMOS33;
net DATA_OUT[0] LOC =P59  | IOSTANDARD = LVCMOS33;

net CLK_IN  LOC =P90  | IOSTANDARD = LVCMOS33;
net "CLK_IN" period = 25ns HIGH 50%;
net "dac_clk_obuf" period = 4.7ns HIGH 50%  | IOSTANDARD = LVCMOS33;
net "clk_1/CLKfx180_buf" period = 4.7ns HIGH 50%;
net "clk_1/clkfx_buf"        period = 4.7ns HIGH 50%;
net "clk_2/clkfx_buf"        period = 200ns high 50%;
net "s_clk"             period = 200ns HIGH 50%;
net "s_dac_clk" period = 4.7ns HIGH 50%;

net SW[15] LOC =P50  | IOSTANDARD = LVCMOS33  |  PULLUP;
net SW[14] LOC =P49  | IOSTANDARD = LVCMOS33  |  PULLUP;
net SW[13] LOC =P48  | IOSTANDARD = LVCMOS33  |  PULLUP;
net SW[12] LOC =P46  | IOSTANDARD = LVCMOS33  |  PULLUP;
net SW[11] LOC =P44  | IOSTANDARD = LVCMOS33  |  PULLUP;
net SW[10] LOC =P43  | IOSTANDARD = LVCMOS33  |  PULLUP;
net SW[9] LOC =P40  | IOSTANDARD = LVCMOS33  |  PULLUP;
net SW[8] LOC =P41  | IOSTANDARD = LVCMOS33  |  PULLUP;
net SW[7] LOC =P37  | IOSTANDARD = LVCMOS33  |  PULLUP;
net SW[6] LOC =P36  | IOSTANDARD = LVCMOS33  |  PULLUP;
net SW[5] LOC =P35  | IOSTANDARD = LVCMOS33  |  PULLUP;
net SW[4] LOC =P34  | IOSTANDARD = LVCMOS33  |  PULLUP;
net SW[3] LOC =P33  | IOSTANDARD = LVCMOS33  |  PULLUP;
net SW[2] LOC =P32  | IOSTANDARD = LVCMOS33  |  PULLUP;
net SW[1] LOC =P31  | IOSTANDARD = LVCMOS33  |  PULLUP;
net SW[0] LOC =P30  | IOSTANDARD = LVCMOS33  |  PULLUP;

net BUT LOC =P29  | IOSTANDARD = LVCMOS33  |  PULLDOWN;

net TP[5] LOC = P3  | IOSTANDARD = LVCMOS33;
net TP[4] LOC = P4  | IOSTANDARD = LVCMOS33;
net TP[3] LOC = P5  | IOSTANDARD = LVCMOS33;
net TP[2] LOC = P6  | IOSTANDARD = LVCMOS33;
net TP[1] LOC = P9  | IOSTANDARD = LVCMOS33;
net TP[0] LOC = P10 | IOSTANDARD = LVCMOS33;
 

net LED LOC =P56  |  IOSTANDARD = LVCMOS33;


config vccaux=3.3;